@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin-block-end: 0;
  margin-block-start: 0;
  padding: 0;  
  margin: 0;
  text-decoration: none;
  color: inherit;
  list-style: none;
  padding-inline-start: 0;
}

/* custom variables */
:root {
  --primary-color: #8F1923;
  --secondary-color: #FFFEF7;
}

main {
  font-family: 'roboto mono';
  font-style: italic;
  font-size: .6em;
}

.mini-audio{
  display: inline-flex;
  align-items: center;
  gap: 14px;
  background: #fff;
}

/* play button */
.play-btn{
  width: 44px;
  height: 44px;
  border: none;
  background: #b64043;
  clip-path: circle(50%);
  display: grid;
  place-items: center;
  cursor: default;
}

/* play icon */
.play-icon{
  width: 14px;
  height: 18px;
  background: #fff;
  clip-path: polygon(
    0 0,
    100% 50%,
    0 100%
  );
  margin-left: 2px;
}

/* progress bar */
.right{
  display: grid;
  gap: 8px;
}

.progress{
  width:10em;
  background: #444;
  position: relative;
}

/* knob */
.knob{
  width: 10px;
  height: 10px;
  background: #222;
  clip-path: circle(50%);
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
    position: relative;
    /* top: 30px; */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight:900;
    font-size: 10em;
    color: white;
    text-transform: uppercase;
}

h2 {
    color: rgb(46, 39, 39);
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
}

h3 {
  font-family: 'Montserrat';
  font-size: 1.4em;
  color: var(--primary-color);
}

/* header */
nav {
    font-family: 'Montserrat';
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header nav ul {    
    display: flex;
    gap: 60px;
}

header nav {   
    color: white;
}

header nav p{
    color: var(--primary-color);
    font-weight: 500;
}

/* footer */
footer {
  color: var(--secondary-color);
  background: #9b2a2a;
  background: linear-gradient(90deg,rgba(155, 42, 42, 1) 50%, rgba(237, 142, 83, 1) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* footer p {

}

footer ul {

}

footer nav {

} */

#hosts, #episodes {
  background: linear-gradient(90deg,rgba(155, 42, 42, 1) 50%, rgba(237, 142, 83, 1) 100%);
}

                                      /* INDEX */


#home nav li {
  color: var(--primary-color);
}
#home h1 span {
  
}

#home main section:nth-of-type(1) div {
    z-index: 1;
    position: absolute;
    font-family: 'roboto mono';
    font-weight: normal;
    color: white;
    text-align: center;
    left: 100px;
    bottom: 220px;
}

#home section:nth-of-type(1) p{
    font-size: 22px;
    max-width: 900px;
}

#home section:nth-of-type(1) > div span{
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    margin-top: 20px;
    
}

#home section:nth-of-type(1) img{
    z-index: 0;
}

/* podcast */

/* section podcast */
#home main > section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
}

/* eerste div van section podcast */
#home main > section:nth-of-type(2) div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center; 
}

#home main > section:nth-of-type(2) h2 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;;
  font-size: 3em;
  color: #8F1923;
  text-align: left;
  /* max-width: 25vw; */
} 


#home main > section:nth-of-type(2) p {
  text-align: center;
  color: var(--primary-color);
}


                                      /* Episodes*/

#episodes main section:not(:first-of-type) {
  border-radius: 2em 2em 0 0;
  background-color: var(--secondary-color);
}

#episodes main > section:nth-of-type(2) ul {
   display: grid;
   grid-template-columns: repeat(2, 500px);
   gap: 5em;
   place-content: center;
}

#episodes main > section:nth-of-type(2) li {
  background-color: white;
  box-shadow: var(--primary-color) .2em .2em .1em;
  border-radius: 1em;
  display: flex;
  gap: 1em;
    overflow: hidden;

}

#episodes main > section:nth-of-type(2) li div {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

#episodes main > section:nth-of-type(2) li img {
  /* width: auto;
  height: 100%; */
  /* overflow: hidden; */
}

#episodes main > section:nth-of-type(2) h3{
  color: var(--primary-color);
}

/* hosts */

#hosts header nav li{
  color: white;
}

#hosts main section:not(:first-of-type) {
  border-radius: 2em 2em 0 0;
  background-color: var(--secondary-color);
}

#hosts main section:nth-of-type(2) ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5em;
  place-content: center;
}

#hosts main section:nth-of-type(2) li {
  display: flex;
  gap: 2em;
  padding: 2em;
}

#hosts main section:nth-of-type(2) li img {
  width: auto;
  height: 250px;
  overflow: hidden;
}