@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin-block-end: 0;
  margin-block-start: 0;
  padding: 0;  
  margin: 0;
  text-decoration: none;
  color: inherit;
  list-style: none;
  padding-inline-start: 0;
  transition: background-color 1s ease, color 1s ease;
}

/* custom variables */
:root {
  --primary-color: #8F1923;
  --secondary-color: #FFFEF7;
  --bg-color: #ffffff;
  --text-color: #ffffff;
  --text-color-sec: #000;
  --card-bg: #ffffff;
  --hover-clr: #000;
}

main {
  font-family: 'roboto mono';
  font-size: .9em;
}

h1 {
    /* position: relative; */
    /* top: 30px; */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight:900;
    font-size: 10em;
    color: var(--text-color);
    text-transform: uppercase;
    line-height: .7;
    margin-top: .5em;
}

h2 {
    color: var(--text-color-sec);
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 5em;
}

h2 + p {
   text-align: center;
   margin: 0 auto;
   width: 60%;
   padding-block: 5em;
}

h3 {
  font-family: 'Montserrat';
  font-size: 1.5em;
  color: var(--primary-color);
}

h3 span {
  color: var(--text-color-sec);
  font-size: .6em;
  font-weight: normal;
}

a {
  text-decoration: underline;
  text-underline-offset: .3em;
  transition: 1s;
}

a:hover {
  color: black;
}

audio {
  width: 90%;
}

/* header */
nav {
    font-family: 'Montserrat';
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header nav {   
    color: white;
}

header nav ul {    
    display: flex;
    gap: 60px;
}

header nav a:hover {
 color: black;
}

header nav p {
    color: var(--primary-color);
    font-weight: 500;
}

/* hosts & episodes */
 main > section div:not(:first-of-type) {
  border-radius: 2em 2em 0 0;
  background-color: var(--secondary-color);
}

/* footer */
footer {
  color: var(--text-color);
  background: #9b2a2a;
  /* ChatGPT prompt: How to recreate this gradient? */
  background: linear-gradient(90deg,rgba(155, 42, 42, 1) 50%, rgba(237, 142, 83, 1) 100%); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

footer {
  padding: 4em;
  font-size: 2em;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#hosts, #episodes {
  background: linear-gradient(90deg,rgba(155, 42, 42, 1) 50%, rgba(237, 142, 83, 1) 100%);
}

/* main section:nth-of-type(2) > p {
  margin: 0 auto; 
  width: 50%;
} */

                                      /* INDEX */


#home nav li {
  color: var(--primary-color);
}

#home h1 {
  color: var(--primary-color);
}

#home p {
  word-spacing: .3em;
}

#home main section:nth-of-type(1) div {
    z-index: 1;
    position: absolute;
    font-family: 'roboto mono';
    font-weight: normal;
    color: var(--text-color);
    text-align: center;
    left: 100px;
    bottom: 220px;
}

#home section:nth-of-type(1) p {
    max-width: 900px;
}

#home section:nth-of-type(1) > div span {
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 2em;
    margin-top: 1em;   
}

#home section:nth-of-type(1) img{
    z-index: 0;
}

/* #home section:nth-of-type(2) a {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: .5em 1em;
  border-radius: .5em;
} */

#home section:nth-of-type(2) {
  padding-block: 5em;
}

#home section:nth-of-type(2) > div {
  display: flex;
  flex-direction: row;
  gap: 10%;
  justify-content: center; 
  padding-bottom: 5em;
}

#home section:nth-of-type(2) div div {
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
}

#home section:nth-of-type(2) div:nth-of-type(2) {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--bg-color);
  border-radius: 1em;
}

#home main > section:nth-of-type(2) h2 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;;
  font-size: 3em;
  color: #8F1923;
  text-align: left;
  /* max-width: 25vw; */
} 
#home main > section:nth-of-type(2) p {
  /* text-align: center; */
  color: var(--primary-color);
}


                                      /* Episodes*/
                                      

#episodes main > section div:not(:first-of-type) h3 {
  color: var(--primary-color);
}

#episodes main > section div:not(:first-of-type) ul {
   display: grid;
   grid-template-columns: repeat(2, 45%);
   gap: 5em; 
   place-content: center;
   padding-block: 5em;
}

#episodes main > section div:not(:first-of-type) li {
  background-color: var(--card-bg);
  box-shadow: var(--primary-color) .2em .2em .1em;
  border-radius: 1em;
  display: flex;
  gap: 1em;
  align-items: flex-start;
  overflow: hidden;
}

#episodes main > section div:not(:first-of-type) li div {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 60%;
}

#episodes main > section div:not(:first-of-type) li img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

                                      /* Hosts */
#hosts p {
  font-size: 1.7em;
}

#hosts h3 {
  font-size: 4em;
}

#hosts header nav li {
  color: var(--text-color);
}

#hosts main > section div:not(:first-of-type) ul {
  width: 70%;
  margin: 0 auto;
  padding-block: 5em;
}

#hosts main > section div:not(:first-of-type) li {
  display: flex;
  align-items: center;
  gap: 2em;
  padding-block: 8em;
}

#hosts main > section div:not(:first-of-type) li div {
 width: 40%;
 display: flex;
 flex-direction: column;
 gap: 1em;
}

#hosts main > section div:not(:first-of-type) li img {
  width: 60%;
  height: auto;
}


@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #ffffff;
    --secondary-color: #1e1e1e;
    --bg-color: #121212;
    --text-color: #eaeaea;
    --text-color-sec: #white;
    --card-bg: #000000;
    --hover-clr: #fff;
  }
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  header nav {
    color: var(--text-color);
  }

  a {
    color: var(--primary-color);
  }

  a:hover {
    color: var(--hover-clr);
  }

  main > section div:not(:first-of-type),
  #home section:nth-of-type(2) div:nth-of-type(2) {
    background-color: var(--secondary-color);
  }

  #episodes main > section div:not(:first-of-type) li {
    box-shadow: transparent 0 0;
  }

  h1, h2, h3 {
    color: var(--primary-color);
  }

  footer {
    background: linear-gradient(
      90deg,
      #1a1a1a 50%,
      #2a2a2a 100%
    );
  }
}